@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cover;
    background-image: url("../../public//images/mario-bg.jpg");
    text-align: center;

}

#board {
    @apply grid grid-cols-3 gap-0 w-[540px] h-[540px] mx-auto border-4 border-white rounded-lg;
    background-image: url("../../public/images/soil.png");
    background-size: cover;
    background-position: center;
}

#board div {
    @apply w-[180px] h-[180px] bg-cover mx-auto;
    background-image: url("../../public/images/pipe.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes rise {
    0% {
        transform: translateX(-50%) translateY(100%);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.cursor {
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('../../public/images/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active {
    transform: translate(-20%, -20%) rotate(-45deg);
}


#board div img {
    @apply w-[100px] h-[100px] select-none;
}